# MySQL DB container local hosting (dev) and credentials
DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=bookhive
DB_USER=bookhive_user
DB_PASSWORD=bookhive_pw

# JWT signing (generate a strong key!)
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
